*~
.DS_Store
.svn
.cvs
*.bak
*.swp
.phpdoc
Thumbs.db
.idea

/vendor/
/wordpress/*
!/wordpress/google5f2ac2d0dd11e379.html
!/wordpress/ebay
!/wordpress/images

.env*
!.env.example

/auth.json

.htaccess

database-dumps/*
!/database-dumps/.gitkeep

# wordpress specific
/wp-content/*
!/wp-content/disabled-plugins
!/wp-content/mu-plugins
!/wp-content/plugins
!/wp-content/themes
!/wp-content/object-cache.php
!/wp-content/**/.gitkeep

**node_modules/

# WSL
*:Zone.Identifier

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
#
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
/terraform/terraform.conf
/terraform/*.tfvars
/terraform/*.tfvars.json
/terraform/*.tfout